<% if @user.errors.present? %>
	<p><%= @user.errors.full_messages.first %></p>
<% end %>



<div class="row container sign-up-center">

	<div class="col-md-3"></div>

	<div class="sign-up-div col-md-6 col-sm-6 col-xs-6">
		<%= form_for @user, html: {class: "nifty_form"} do |f| %>

		<div class="row sign-up-text">
			<h1>Sign Up</h1>
		</div>
			
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 float-left sign-up-first">
				<%= f.text_field :first_name, :placeholder => "First Name" %>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 float-right sign-up">
				<%= f.text_field :last_name, :placeholder => "Last Name" %>
			</div>
		</div>

		<div class="row"> 
			<div class="col-md-12 col-sm-12 col-xs-12 sign-up">
				<%= f.text_field :email, :placeholder => "E-mail" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 float-left sign-up-first">
				<%= f.text_field :city, :placeholder => "City" %>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 float-right sign-up">
				<%= f.text_field :state, :placeholder => "State" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 float-left sign-up-first">
				<%= f.text_field :gender, :placeholder => "Gender" %>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 float-right sign-up">
				<%= f.text_field :grad_date, :placeholder => "Graduation Date" %>
		</div>	
		
		<div class="row">
			<div class="field">
				<div class="col-md-6 col-sm-6 col-xs-6 float-left">
		   			<%= f.label :password, "Password" %>
		   		</div>

		   		<div class="col-md-6 col-sm-6 col-xs-6 float-right">
					<%= f.password_field :password %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="field">
				<div class="col-md-6 col-sm-6 col-xs-6 float-left">
		  			<%= f.label :password_confirmation, "Confirmation" %>
		  		</div>

		  		<div class="col-md-6 col-sm-6 col-xs-6 float-right">
			  		<%= f.password_field :password_confirmation %>
			  	</div>
			</div>
		</div>

		<div class="row" id="submit">
			<!-- <div class="col-md-3 col-sm-3 col-xs-3"></div> -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<%= f.submit "Submit" %>
			</div>
			<!-- <div class="col-md-3 col-sm-3 col-xs-3"></div> -->
		</div>	
		<% end %>	
	</div>
</div>

