<% if @user.errors.present? %>
	<p><%= @user.errors.full_messages.first %></p>
<% end %>



<div class="row container">

	<div class="col-md-6">
		<p>This is the left column. We are going to put some words here explaining the form.</p>
	</div>

	<div class="col-md-6">
		<%= form_for @user do |f| %>

		<div class="row">
			<h1>Sign Up</h1>
		</div>
			
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 float-right">
				<%= f.text_field :first_name, :placeholder => "First Name", :input_html => {:style=> 'width: 100%'} %>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 float-right">
				<%= f.text_field :last_name, :placeholder => "Last Name" %>
			</div>
		</div>

		<div class="row">
			<%= f.text_field :email, :placeholder => "E-mail" %>
		</div>

		<div class="row">
			<%= f.text_field :gender, :placeholder => "Gender" %>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 float-left">
				<%= f.text_field :city, :placeholder => "City" %>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 float-right">
				<%= f.text_field :state, :placeholder => "State" %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 float-left">
				<p>Graduation</p>
			</div> 

			<div class="col-md-6 col-sm-6 col-xs-6 float-right">
				<%= f.date_field :grad_date, :placeholder => "Graduation Date" %>
			</div>
		</div>	
		
		<div class="row">
			<div class="field">
				<div class="col-md-6 col-sm-6 col-xs-6 float-left">
		   			<%= f.label :password, "Password" %>
		   		</div>

		   		<div class="col-md-6 col-sm-6 col-xs-6 float-right">
					<%= f.password_field :password %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="field">
				<div class="col-md-6 col-sm-6 col-xs-6 float-left">
		  			<%= f.label :password_confirmation, "Confirmation" %>
		  		</div>

		  		<div class="col-md-6 col-sm-6 col-xs-6 float-right">
			  		<%= f.password_field :password_confirmation %>
			  	</div>
			</div>
		</div>
			<%= f.submit "Submit" %>
		<% end %>	
	</div>

</div>

