<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body id="test_new">
    <h1 id="test_title">Welcome <%= @current_user.first_name %></h1>
    <div id="select-college">
        <p>Select a College from the list</p>
    </div>
    <% @check_list.user_id = @current_user.id %>
    <% current_lists = @check_lists.where(user_id: current_user.id) %>
    <div id="div1"></div>
    <select class="popdown" id="pop">
    <% @colleges.each do |college| %>
        <option class="college-choice"><%= college.name %></option>
    <% end %>
   </select>

    <ul>
        <% @colleges.each do |college| %>
        <li>
        <% college_name = college.name %>
        <div class = "container <%= college_name %>">    
            <h2>Checklist for <%= college_name %></h2>
            
            <% select_colleges_array = @check_lists.select(:college_id).distinct.pluck(:college_id) %>
 
            <% select_colleges_array.each do |sel_col_id| %>
                <% if sel_col_id == college.id %>
                    <% @selected = current_lists.where("college_id=?", sel_col_id).last %>
                <% end %>
            <% end %>
                <%= form_for @check_list do |f| %>
                <div class = "row">
                    <div class="col-xs-2">Deadline</div>
                    <% if @selected  %>
                        <div class="col-xs-2"><%= f.date_field :deadline, :value => @selected.deadline %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.date_field :deadline, :placeholder => "yyyy-mm-dd" %></div>
                    <% end %>
                    <div class="col-xs-2">Transcript?</div>
                    <% if @selected && @selected.transcript != nil %>
                        <div class="col-xs-2"><%= f.text_field :transcript, :value => @selected.transcript %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.text_field :transcript, :placeholder => "True or False" %></div>
                        <% end %>
                    <div class="col-xs-2">Essay?</div>
                    <% if @selected && @selected.essay != nil %>
                        <div class="col-xs-2"><%= f.text_field :essay, :value => @selected.essay %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.text_field :essay, :placeholder => "True or False" %></div>
                    <% end %>
                </div>
                <div class="row">
                    <div class="col-xs-2">S.A.T.?</div>
                    <% if @selected && @selected.sat != nil %>
                        <div class="col-xs-2"><%= f.text_field :sat, :value => @selected.sat %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.text_field :sat, :placeholder => "True or False" %></div>
                    <% end %>
                    <div class="col-xs-2">A.C.T.?</div>
                    <% if @selected && @selected.act != nil %>
                        <div class="col-xs-2"><%= f.text_field :act, :value => @selected.act %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.text_field :act, :placeholder => "True or False" %></div>
                    <% end %>                    
                    <div class="col-xs-2">Applicaiton?</div>
                    <% if @selected && @selected.application != nil %>
                        <div class="col-xs-2"><%= f.text_field :application, :value => @selected.application %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.text_field :application, :placeholder => "True or False" %></div>
                    <% end %>
                </div>
                <div class="row">
                    <div class="col-xs-2">College Tour Date</div>
                    <% if @selected %>
                        <div class="col-xs-2"><%= f.date_field :tour_date, :value => @selected.tour_date %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.date_field :tour_date, :placeholder => "yyyy-mm-dd" %></div>
                    <% end %>
                    <div class="col-xs-2">Rec Letters?</div>
                    <% if @selected && @selected.rec_letters != nil %>
                        <div class="col-xs-2"><%= f.text_field :rec_letters, :value => @selected.rec_letters %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.text_field :rec_letters, :placeholder => "True or False" %></div>
                    <% end %>
                    <div class="col-xs-2">Early Accept?</div>
                    <% if @selected && @selected.early_acceptance != nil %>
                        <div class="col-xs-2"><%= f.text_field :early_acceptance, :value => @selected.early_acceptance %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.text_field :early_acceptance, :placeholder => "True or False" %></div>
                    <% end %>
                </div>
                <div class="row">
                   <div class="col-xs-2">Ranking</div>
                   <% if @selected && @selected.ranking != nil %>
                        <div class="col-xs-2"><%= f.number_field :ranking, :value => @selected.ranking %></div>
                        <% else %>
                        <div class="col-xs-2"><%= f.number_field :ranking, :placeholder => "Ranking" %></div>
                    <% end %>  
                    <div class="hidden col-xs-2"><%= f.number_field :college_id, :value => college.id %></div>
                    <div class="hidden col-xs-2"><%= f.number_field :user_id, :value => current_user.id %></div>
                    <div class="col-xs-2"><%= f.submit "Submit" %></div>

                </div>
                <% end %>
            <% @selected = false %>
        </div>
        </li>
        <% end %>
    </ul>

   <script>
    console.log("Tesssst");
    $(".hidden").hide();
    $(".container").hide();
    document.getElementById("pop").selectedIndex = "-1";
    $("#pop").on('input',function(){
        // $(".popdown").hide();
        var link = document.createElement("a");
        var divy = document.createElement("div");
        var text = this.value;
        var textNode = document.createTextNode(text);
        link.appendChild(textNode);
        var mainDiv = document.getElementById("div1");
        mainDiv.appendChild(divy);
        divy.appendChild(link);
       
        var textClass = "." + text;
        textClass = returnNoSpaces(textClass);
        var aTestClass = returnNoSpaces(text);
        var hrefValue = "/colleges/name/";
        hrefValue += encodeURIComponent(text);

        $(link).attr("href",hrefValue);
        $(link).attr("class",aTestClass);

        var className = "." + aTestClass;
        $(className).show();
    });
    classFinder();
    function classRenamer(word)
    {
        var newString = "";
        for (var i = 10; i < word.length; i ++) 
        {
            newString += word[i];
        }
        return returnNoSpaces(newString);
    }

    function classFinder()
    {
        var containerArray = $('.container');
        containerArray.each(function(index,value){
            var classValue = $(value).attr("class");
            
            console.log(classRenamer(classValue));
            var classAppend = classRenamer(classValue);
            $(value).attr("class","container " + classAppend);
        }) 
    }

    function returnNoSpaces(word)
    {
        var newWord = "";
        for(var i = 0;i < word.length; i ++)
        {
            var currentWord = word[i];
            if(currentWord !== ' ' && currentWord !=='&' && currentWord !=='.')
            {   
                newWord += word[i];  
            }
        }
        return newWord;
    }

   </script>
</body>

