<% if @check_list.errors.present? %>
	<p><%= @check_list.errors.full_messages.first %></p>
<% end %>
<h1>Create New Checklist</h1>
<br>
<p>Welcome <%= @current_user.first_name %> with ID of <%= @current_user.id %></p>
<% @check_list.user_id = @current_user.id %>
<p>The user_id for this checklist is <%= @check_list.user_id %></p>
<% @check_list.college_id = 1 %>

<div class = "container">
	<%= form_for @check_list do |f| %>
	<div class = "row">
		<div class="col-xs-2">Deadline</div>
		<div class="col-xs-2"><%= f.date_field :deadline, :placeholder => "Deadline" %></div>
		<div class="col-xs-2">Transcript?</div>
		<div class="col-xs-2"><%= f.text_field :transcript, :placeholder => "True or False" %></div>
		<div class="col-xs-2">Essay?</div>
		<div class="col-xs-2"><%= f.text_field :essay, :placeholder => "True or False" %></div>
	</div>
	<div class="row">
		<div class="col-xs-2">S.A.T.?</div>
		<div class="col-xs-2"><%= f.text_field :sat, :placeholder => "True or False" %></div>
		<div class="col-xs-2">A.C.T.?</div>
		<div class="col-xs-2"><%= f.text_field :act, :placeholder => "True or False" %></div>
		<div class="col-xs-2">Applicaiton?</div>
		<div class="col-xs-2"><%= f.text_field :application, :placeholder => "True or False" %></div>
	</div>
	<div class="row">
		<div class="col-xs-2">College Tour Date</div>
		<div class="col-xs-2"><%= f.date_field :tour_date, :placeholder => "College Tour Date" %></div>
		<div class="col-xs-2">Rec Letters?</div>
		<div class="col-xs-2"><%= f.text_field :rec_letters, :placeholder => "True or False" %></div>
		<div class="col-xs-2">Early Accept?</div>
		<div class="col-xs-2"><%= f.text_field :early_acceptance, :placeholder => "True or False" %></div>
	</div>
	<div class="row">
		<div class="col-xs-2">Ranking</div>
		<div class="col-xs-2"><%= f.number_field :ranking, :placeholder => "Ranking" %></div>
		<div class="col-xs-2"><%= f.submit "Submit" %></div>
</div>
<% end %>

