<h1>Check Lists</h1>
<ul>
	<% @check_lists.each do |x| %>
	<li>
		<p>Entry number: <%= x.id %></p>
		<p>College: <%= x.college_id %></p>
		<p>Deadline: <%= x.deadline %></p>
		<p>Transcript sent? <%= x.transcript %></p>
		<p>Essay done? <%= x.essay %></p>
		<p>S.A.T. sent?<%= x.sat %></p>
		<p>A.C.T. sent?<%= x.act %></p>
		<p>Letters of recommendation done?<%= x.rec_letters %></p>
		<p>Application sent? <%= x.application %></p>
		<p>Going for Early Acceptance?<%= x.early_acceptance %></p>
		<p>Tour Date: <%= x.tour_date %></p>
		<p>Ranking: <%= x.ranking %></p>
	</li>
	<% end %>
</ul> 