<!DOCTYPE html>
<html>
<head>
  <title>CollegeTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a><img class="navbar-brand" alt="Brand" style="" src="http://wiki.medibooks.net/images/a/a9/Graduation_Cap.png"></a> -->
    </div>

        <% if current_user %>
          <span class="home btn btn-default navbar-btn"><%= link_to "Home", "/" %></span>
          <span class="college btn btn-default navbar-btn"><%= link_to "Tracker", test_path %></span>
          <span class="checklist btn btn-default navbar-btn"><%= link_to "My Checklists", check_lists_path %></span>
          <span class="add_checklist btn btn-default navbar-btn"><%= link_to "Add a College", new_college_path %></span>
          <span class="logout btn btn-default navbar-btn"><%= link_to "Logout", :logout, method: :post %></span>
        <% else %>
          <span class="home btn btn-default navbar-btn"><%= link_to "Home", "/" %></span>
          <span class="login btn btn-default navbar-btn"><%= link_to "Login", :login %></span>
          <span class="register btn btn-default navbar-btn"><%= link_to "Register", new_user_path %></span>
        
        <% end %>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
    
  </div>
</nav>

<%= yield %>

</body>
</html>
