<!DOCTYPE html>
<html>
<head>
  <title>CollegeTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="nav">
    <% if current_user %>
      <%= link_to "College", test_path %> |
      <%= link_to "Checklist", check_lists_path %> |
      <%= link_to "Add to Checklist", new_check_list_path %> |
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Home", "/" %> |
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %> | 
     
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>

</body>
</html>
